pandas>=2.2,<4
matplotlib>=3.8,<4
scikit-learn>=1.4,<2
nltk>=3.9,<4
notebook>=7,<8
spacy==3.8.16
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
